<div class ="time-settings">
  <div class="time">
    <h2 id = "user-time">{{ data.time }}</h2>
  </div>
  <div class="other-details">
    <h2>{{ data.city }}, {{ data.country }} </h2>
  </div>
</div>
